*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.result{
  align-self: end;
}

.content {
  display: grid;
  grid-template-columns: 711px 1fr;
  gap: 30px;
}
.content__video-card-thumbnail{
  width: 194px;
}
.result__video{
  width: 100%;
}
.result__video-container, .content__list{
  position: relative;
}
.title{
  font-size: 75px;
  font-weight: 700;
  font-family: Oswald, serif;
  line-height: 0.95;
  text-transform: uppercase;
}
.content__list{
  height: 300px;
  overflow: auto;
}
.search-form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

